# 1. รัน Server บน Port นี้
PORT=5000

# 2. ข้อมูล Admin สำหรับใช้เช็คตอน Login
USER=admin
PASSWORD=$2b$10$SJbaiTtKu.jmcL2AjW1Pc.sDy.b6uSQ6NtHIRQpZ5jTHisRjYsla2

# 3. คีย์สำหรับเข้ารหัส Session (ควรตั้งให้เดายากๆ)
API_KEY=$2b$10$U2u1JQWERwxFreDC5zyibeyKHBrTZ5YjJqDr.nYvmuciUeo8tG1Em