version: '3.8'

networks:
  app-network:
    driver: bridge

services:
  api:
    build: .
    container_name: video-streaming-app
    ports:
      - "4000:4000"
    env_file:
      - .env
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - app-network
    restart: unless-stopped

    